<html ng-app="whacApp">
<head>
    <title>WHAC Data Editor : v2</title>
    <link rel="icon" href="favicon.ico" />
    <meta charset="UTF-8">

    <script src="resources/js/angular.js"></script>
    <script src="resources/js/angular-route.js"></script>

    <script src="resources/js/jquery-1.12.4.js"></script> <!-- required for bootstrap -->
    <script src="resources/js/bootstrap.min.js"></script>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/whac.css" rel="stylesheet">

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="resources/js/app.js"></script>
    <script src="resources/js/cards/cards.service.js"></script>
    <script src="resources/js/cards/cards.controller.js"></script>

    <script src="resources/js/capacities/capacities.service.js"></script>
    <script src="resources/js/capacities/capacities.controller.js"></script>

    <script src="resources/js/spells/spells.service.js"></script>
    <script src="resources/js/spells/spells.controller.js"></script>


</head>
<body>
<script>
    // var app = angular.module('app', []);
</script>

<div ng-controller="ListCards">

    <div id="header" bgcolor="black">
    <ul class="nav nav-tabs header" id="myTab" >
      <li class="active"><a href="#card_edit" data-toggle="tab">Edit cards</a></li>
      <li><a href="#capacities" data-toggle="tab">Capacities</a></li>
      <li><a href="#spells" data-toggle="tab">Spells</a></li>
      <li><a href="#new_models" data-toggle="tab">Add new Card</a></li>
      <li><a href="#compendium" data-toggle="tab">Compendium</a></li>
    </ul>
    </div>

    <div class="tab-content" id="content">
        <div class="tab-pane active" id="card_edit">
            <div class="panel panel-primary">
                <div class="panel-heading">Choose model to edit</div>
                    <div class="panel-body">
                    <div class="col-lg-4">
                        <table class="table table-inverse">
                            <tr><td minWidth="100px">System </td><td><select ng-options="system.name for system in systems" ng-model="selectedSystem"></select></td></tr>
                            <tr><td>Faction </td><td><select ng-options="faction.name for faction in selectedSystem.factions" ng-model="selectedFaction"/></td></tr>
                            <tr><td>Subtype </td><td><select ng-options="modelType.name for modelType in modelTypesSorting" ng-model="selectedType"/></td></tr>
                        </table>
                    </div>

                    <div class="col-lg-6" ng-show="cards.length == 0">
                        Waiting for cards loading....
                    </div>
                    <div class="col-lg-6" ng-show="cards.length > 0">
                        <button type="button" class="btn btn-default btn-lg" ng-click="filterCards()">
                          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">Filter</span>
                        </button>

                        <select ng-size="{{filteredCards.length}}" ng-options="card.name group by retrieveTypeLabel(card.type) for card in filteredCards | orderBy:'sortedLabel'" ng-model="selectedCard"></select>

                        <button type="button" class="btn btn-default btn-lg" ng-click="editCard()">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit</span>
                        </button>
                    </div>
                </div>
            </div>

            <div ng-if="editedCard.name != undefined" class="panel panel-primary" class="animate-if">
                <div class="panel-heading">Editing {{editedCard.name}} <button type="button" class="btn btn-default btn-lg" ng-click="saveCard()"><span class="glyphicon glyphicon-floppy-saved " aria-hidden="true">Save</span></button> </div>
                    <div class="panel-body">

                    <div header></div>

                    <div ng-if="editedCard.type == 'warcaster' || editedCard.type == 'warlock'" class="panel-info">
                        <div class="panel-heading"> Feat : <input ng-model="editedCard.feat.title" trigger="true" size="80" /></div>
                        <div class="panel-body"><textarea ng-model="editedCard.feat.text" cols="80" rows="5"></textarea></div>
                    </div>

                    <div ng-if="editedCard.faction == 'faction_mercs' || editedCard.faction == 'faction_minions'" class="panel-info">
                        <div class="panel-heading"> works for (not yet editable) : </div>
                        <div class="panel-body">
                        <span ng-repeat="faction in editedCard.works_for">{{faction}}</span>
                        </div>
                    </div>


                    <div class="panel-info" ng-repeat="model in editedCard.models" >
                        <div class="panel-heading">Model #{{$index + 1}} : <input ng-model="model.basestats._name" size="40"/></div>
                        <div class="panel-body"> 

                            <div basestats></div>
                            
                            <div spells></div>

                            <div class="panel-warning">
                                <div class="panel-heading">Weapons  
                                    <button type="button" class="btn btn-default btn-lg" ng-click="addMeleeWeapon( model )">
                                        <img src="resources/melee_weapon_icon.png" height="42" width="42">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button> 
                                    <button type="button" class="btn btn-default btn-lg" ng-click="addRangedWeapon(model)">
                                        <img src="resources/ranged_weapon_icon.png" height="42" width="42">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button> 
                                    <button type="button" class="btn btn-default btn-lg" ng-click="addMountWeapon(model)">
                                        <img src="resources/mount_weapon_icon.png" height="42" width="42">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button> 

                                </div>

                                <div class="panel-body">
                                    <!-- ---------------------------------------------- -->
                                    <!-- MELEE WEAPON                                   --> 
                                    <!-- ---------------------------------------------- -->

                                    <table class="gridtable" width="100%" ng-if="model.weapons.melee_weapon.length > 0">
                                        <thead>
                                        <tr>
                                            <td>Melee weapons <h5><span class="label label-default"> (to add a capa, copy from capacity Tab, then paste)</span></h5></th>
                                            <th>RNG</th>
                                            <th>POW</th>
                                            <th>P+S</th>
                                            <th>Loc.</th>
                                            <th>Count</th>
                                            <th colspan="2">&nbsp;</th>
                                        </tr>
                                        </thead>

                                        <tbody ng-repeat="weapon in model.weapons.melee_weapon"  >
                                        <tr>
                                            <td class="spell_name" ng-class="isGrey($index)">
                                                <img src="resources/melee_weapon_icon.png" height="42" width="42">
                                                <input ng-model="weapon._name" size="30"> 

                                                <button type="button" class="btn btn-default btn-md" ng-click="copyCapacityToWeapon(weapon)">
                                                    <span class="glyphicon glyphicon-hand-down" aria-hidden="true">Paste capa.</span>
                                                </button>

                                            </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><select ng-model="weapon._rng" ng-options="range for range in meleeRanges"/> </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._pow" size="2"> </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._p_plus_s" size="2"> </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><select ng-model="weapon._location" ng-options="location for location in weaponLocations"/></td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._count" size="2">  </td>
                                            <td ng-class="isGrey($index)">
                                                <img src="resources/blessed_icon.png" height="24" width="24"/> <input type="checkbox" ng-model="weapon._blessed"  ng-true-value="'true'"/>Blessed, 
                                                <img src="resources/buckler_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._buckler"  ng-true-value="'true'"/>Buckler
                                                <img src="resources/chain_weapon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._chain"  ng-true-value="'true'"/>Chain,
                                                <img src="resources/corrosion_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._corrosion"  ng-true-value="'true'"/>Type:Corrosion
                                                <img src="resources/continuous_corrosion_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._continuous_corrosion"  ng-true-value="'true'"/>Cont. Corrosion
                                                <img src="resources/critical_corrosion_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._critical_corrosion"  ng-true-value="'true'"/>Crit. Corrosion
                                                <img src="resources/disrupt_icon.png" height="24" width="24"><input type="checkbox" ng-model="weapon._disrupt"  ng-true-value="'true'"/>Disrupt
                                                <img src="resources/critical_disrupt_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._critical_disrupt"  ng-true-value="'true'"/>Crit. Disrupt
                                                <br>
                                                <img src="resources/electricity_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._electricity"  ng-true-value="'true'"/>Type:Electricity
                                                <img src="resources/fire_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._fire"  ng-true-value="'true'"/>Type:Fire
                                                <img src="resources/continuous_fire_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._continuous_fire"  ng-true-value="'true'"/>Cont. Fire
                                                <img src="resources/critical_fire_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._critical_fire"  ng-true-value="'true'"/>Crit. Fire
                                                <img src="resources/magical_weapon_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._magical"  ng-true-value="'true'"/>Magical
                                                <img src="resources/open_fist_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._open_fist"  ng-true-value="'true'"/>Open fist,
                                                <img src="resources/shield_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._shield"  ng-true-value="'true'"/>Shield
                                                <img src="resources/weapon_master_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._weapon_master" ng-true-value="'true'"  />Weap. Master
                                            </td>
                                            <td class="spell_remove" rowspan="{{weapon.capacities.length > 0?'2':'0'}}" ng-class="isGrey($index)">
                                                <button type="button" class="btn btn-default btn-lg" ng-click="removeMeleeWeapon( model, $index)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="spell_edit" ng-if="weapon.capacities.length > 0">
                                            <td colspan="7" ng-class="isGrey($index)"> 
                                                <div ng-repeat="capacity in weapon.capacities | orderBy:'_title'" >
                                                    <div>
                                                       <b>{{capacity._title}}</b> : {{capacity._type}}  {{capacity.__text}}
                                                    </div>
                                                    <div class="btn btn-default  btn-sm" ng-click="removeWeaponCapacity( weapon, capacity)">
                                                        Remove "{{capacity._title}}" <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <br>
                                    <!-- ---------------------------------------------- -->
                                    <!-- RANGED WEAPON                                  --> 
                                    <!-- ---------------------------------------------- -->

                                    <table class="gridtable" width="100%" ng-if="model.weapons.ranged_weapon.length > 0">
                                        <thead>
                                        <tr>
                                            <td>Ranged weapons <h5><span class="label label-default"> (to add a capa, copy from capacity Tab, then paste)</span></h5></th>
                                            <th>RNG</th>
                                            <th>ROF</th>
                                            <th>AOE</th>
                                            <th>POW</th>
                                            <th>Loc.</th>
                                            <th>Count</th>
                                            <th colspan="2">&nbsp;</th>
                                        </tr>
                                        </thead>


                                        <tbody ng-repeat="weapon in model.weapons.ranged_weapon"  >
                                        <tr>
                                            <td class="spell_name" ng-class="isGrey($index)">
                                                <img src="resources/ranged_weapon_icon.png" height="42" width="42">
                                                <input ng-model="weapon._name" size="30"> 

                                                <button type="button" class="btn btn-default btn-md" ng-click="copyCapacityToWeapon(weapon)">
                                                    <span class="glyphicon glyphicon-hand-down" aria-hidden="true">Paste capa.</span>
                                                </button> 
                                            </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._rng" size="4"> </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._rof" size="1"> </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._aoe" size="2"> </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._pow" size="2"> </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><select ng-model="weapon._location" ng-options="location for location in weaponLocations"/></td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._count" size="2">  </td>
                                            <td ng-class="isGrey($index)">
                                                <img src="resources/blessed_icon.png" height="24" width="24"/> <input type="checkbox" ng-model="weapon._blessed"  ng-true-value="'true'"/>Blessed, 
                                                <img src="resources/buckler_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._buckler"  ng-true-value="'true'"/>Buckler
                                                <img src="resources/corrosion_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._corrosion"  ng-true-value="'true'"/>Type:Corrosion
                                                <img src="resources/continuous_corrosion_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._continuous_corrosion"  ng-true-value="'true'"/>Cont. Corrosion
                                                <img src="resources/critical_corrosion_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._critical_corrosion"  ng-true-value="'true'"/>Crit. Corrosion
                                                <img src="resources/disrupt_icon.png" height="24" width="24"><input type="checkbox" ng-model="weapon._disrupt"  ng-true-value="'true'"/>Disrupt
                                                <img src="resources/critical_disrupt_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._critical_disrupt"  ng-true-value="'true'"/>Crit. Disrupt
                                                <br>
                                                <img src="resources/electricity_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._electricity"  ng-true-value="'true'"/>Type:Electricity
                                                <img src="resources/fire_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._fire"  ng-true-value="'true'"/>Type:Fire
                                                <img src="resources/continuous_fire_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._continuous_fire"  ng-true-value="'true'"/>Cont. Fire
                                                <img src="resources/critical_fire_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._critical_fire"  ng-true-value="'true'"/>Crit. Fire
                                                <img src="resources/frost.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._frost" />Frost
                                                <img src="resources/magical_weapon_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._magical"  ng-true-value="'true'"/>Magical
                                                <img src="resources/shield_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._shield"  ng-true-value="'true'"/>Shield
                                                <img src="resources/weapon_master_icon.png" height="24" width="24"/><input type="checkbox" ng-model="weapon._weapon_master" ng-true-value="'true'"  />Weap. Master
                                            </td>
                                            <td class="spell_remove" rowspan="{{weapon.capacities.length > 0?'2':'0'}}" ng-class="isGrey($index)">
                                                <button type="button" class="btn btn-default btn-lg" ng-click="removeRangedWeapon( model, $index)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="spell_edit" ng-if="weapon.capacities.length > 0">
                                            <td colspan="8" ng-class="isGrey($index)"> 
                                                <div ng-repeat="capacity in weapon.capacities | orderBy:'_title'" >
                                                    <div>
                                                       <b>{{capacity._title}}</b> : {{capacity._type}}  {{capacity.__text}}
                                                    </div>
                                                    <div class="btn btn-default  btn-sm" ng-click="removeWeaponCapacity( weapon, capacity)">
                                                        Remove "{{capacity._title}}" <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <br>
                                    <!-- ---------------------------------------------- -->
                                    <!-- MOUNT WEAPON                                   --> 
                                    <!-- ---------------------------------------------- -->

                                    <table class="gridtable" width="100%" ng-if="model.weapons.mount_weapon.length > 0">
                                        <thead>
                                        <tr>
                                            <td>Mount weapons <h5><span class="label label-default"> (to add a capa, copy from capacity Tab, then paste)</span></h5></th>
                                            <th>RNG</th>
                                            <th>POW</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>


                                        <tbody ng-repeat="weapon in model.weapons.mount_weapon"  >
                                        <tr>
                                            <td class="spell_name" ng-class="isGrey($index)">
                                                <img src="resources/mount_weapon_icon.png" height="42" width="42">
                                                <input ng-model="weapon._name" size="30"> 

                                                <button type="button" class="btn btn-default btn-md" ng-click="copyCapacityToWeapon(weapon)">
                                                    <span class="glyphicon glyphicon-hand-down" aria-hidden="true">Paste capa.</span>
                                                </button> 

                                            </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><select ng-model="weapon._rng" ng-options="range for range in meleeRanges"/> </td>
                                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="weapon._pow" size="2"> </td>
                                            <td class="spell_remove" rowspan="{{weapon.capacities.length > 0?'2':'0'}}" ng-class="isGrey($index)">
                                                <button type="button" class="btn btn-default btn-lg" ng-click="removeMountWeapon( model, $index)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="spell_edit" ng-if="weapon.capacities.length > 0">
                                            <td colspan="3" ng-class="isGrey($index)"> 
                                                <div ng-repeat="capacity in weapon.capacities | orderBy:'_title'" >
                                                    <div>
                                                       <b>{{capacity._title}}</b> : {{capacity._type}}  {{capacity.__text}}
                                                    </div>
                                                    <div class="btn btn-default  btn-sm" ng-click="removeWeaponCapacity( weapon, capacity)">
                                                        Remove "{{capacity._title}}" <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>



                                </div>
                            </div>

                            <!-- ---------------------------------------------- -->
                            <!-- CAPACITIES                                     --> 
                            <!-- ---------------------------------------------- -->


                            <div class="panel-warning">
                                <div class="panel-heading">Capacities  
                                    <button type="button" class="btn btn-default btn-lg" ng-click="copyCapacityToModel(model)">
                                        Paste <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span> 
                                    </button> 
                                    <h5><span class="label label-default"> (copy from capacity Tab, then paste here)</span></h5>
                                    
                                </div>    
                                <div class="panel-body">
                                    <table class="gridtable" width="100%" ng-if="model.capacities.length > 0">
                                        <thead>
                                        <tr>
                                            <th width="20%">Title</th>
                                            <th width="10%">Type</th>
                                            <th width="70%">Description</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tr ng-repeat="capacity in model.capacities">   
                                            <td ng-class="isGrey($index)">{{capacity._title}}</td>
                                            <td ng-class="isGrey($index)">{{capacity._type}}</td>
                                            <td ng-class="isGrey($index)">{{capacity.__text}}</td>                 
                                            <td ng-class="isGrey($index)"> 
                                                <button type="button" class="btn btn-default btn-lg" ng-click="removeCapacity( model, $index)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div> <!-- end capacities -->
                        </div>
                    </div>
                    <div class="panel-warning"> New models is this card?        
                        <button type="button" class="btn btn-default btn-lg" ng-click="addModel()">
                            <span aria-hidden="true">Add new model</span>
                        </button>
                    </div>

                </div>


                <div class="panel-heading">Editing {{editedCard.name}} <button type="button" class="btn btn-default btn-lg" ng-click="saveCard()"><span class="glyphicon glyphicon-floppy-saved " aria-hidden="true">Save</span></button> </div>

            </div>
        </div><!-- end card_edit -->



        <div class="tab-pane" id="capacities"> 

            <form ng-controller="ListCapacities" ng-submit="filterCapacities()">


                <div id="editor_panel" class="editor_panel" ng-if="editedCapacity._id != undefined">
                    <table class="gridtable" width="100%" ng-if="capacities.length > 0">
                        <thead>
                        <tr>
                            <th class="capacity_name" width="20%">Title</th>
                            <th class="capacity_name" width="10%">Type</th>
                            <th class="capacity_attr" width="70%">Description</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="capacity_name" ng-class="isGrey($index)"><input ng-model="editedCapacity._title" trigger="true" style="width: 100%; height: 100%"/>use upper-case for capacity name</td>
                            <td class="capacity_name" ng-class="isGrey($index)">
                                <select ng-model="editedCapacity._type" ng-options="type for type in capacityTypes"/>
                            </td>

                            <td class="capacity_attr" ng-class="isGrey($index)">
                                <textarea ng-model="editedCapacity.__text" style="width: 100%; height: 100%" rows="4" ></textarea> 
                                do NOT create multiple capacities if multi-line ; for star/bullet copy/paste these symbols : ★, ●
                            </td>
                        </tr>
                            
                        </tbody>
                    </table>                
                    <div style="margin-top: 15">
                        <button type="button" class="btn btn-default btn-lg" ng-click="saveCapacity(editedCapacity)" style="float:right; margin-right:15;">
                            <span class="glyphicon glyphicon-save" aria-hidden="true">Save</span>
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="dismissCapacity()"  style="float:right; margin-right:15; ">
                            <span class="glyphicon .glyphicon-eject" aria-hidden="true">Dismiss</span>
                        </button>
                    </div>


                </div>

                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

                <div class="col-lg-6" ng-show="capacities.length == 0">
                    Waiting for capacities loading....
                </div>

                <div class="col-lg-4" ng-show="cards.length > 0">
                    <table class="table" width="100%" ng-if="capacities.length > 0">
                        <thead>
                        <tr>
                            <th width="40%">Title (starts with)</th>
                            <th width="60%"><input ng-model="filterCapacity.name" trigger="true" size="40" /></th>
                        </tr>
                        <tr>
                            <th width="40%">Text (contains)</th>
                            <th width="60%"><input ng-model="filterCapacity.text" trigger="true" size="40" /></th>
                        </tr>
                        <tr><th></th><th>
                            <button type="button" class="btn btn-default btn-lg" ng-click="filterCapacities()">
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">Filter</span>
                            </button>
                        </th>
                        <tr><th></th><th>
                            <button type="button" class="btn btn-default btn-lg" ng-click="newCapacity()">
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">Create new capacity</span>
                            </button>
                        </th>

                        </thead>
                    </table>
                </div>

                <div height="10px"> &nbsp; </div>

                <div class="col-lg-12" ng-show="filteredCapacities.length > 0" >
                <table class="gridtable" width="100%" ng-if="filteredCapacities.length > 0">
                    <thead>
                    <tr>
                        <th width="20%">Title</th>
                        <th width="10%">Type</th>
                        <th width="70%">Description</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tr ng-click="editCapacity(capacity)" ng-repeat="capacity in filteredCapacities | orderBy:'_title'">   
                        <td ng-class="isGrey($index)">{{capacity._title}}</td>
                        <td ng-class="isGrey($index)">{{capacity._type}}</td>
                        <td ng-class="isGrey($index)"><span style="white-space: pre-wrap;">{{capacity.__text}}</span></td>                 
                        <td ng-class="isGrey($index)"> 
                            <button type="button" class="btn btn-default btn-lg" ng-click="copyCapacity(capacity, $event)">
                                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </table>
                </div>

            </form>

        </div><!-- end capacities -->





        <div class="tab-pane" id="spells">

            <form ng-controller="ListSpells" ng-submit="filterSpells()">

                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                
                <div class="col-lg-6" ng-show="spells.length == 0">
                    Waiting for spells loading....
                </div>

                <div class="col-lg-4" ng-show="spells.length > 0">
                    <table class="table" width="100%" ng-if="spells.length > 0">
                        <thead>
                        <tr>
                            <th width="40%">Title (starts with)</th>
                            <th width="60%"><input ng-model="filterSpell.name" trigger="true" size="40" /></th>
                        </tr>
                        <tr>
                            <th width="40%">Text (contains)</th>
                            <th width="60%"><input ng-model="filterSpell.text" trigger="true" size="40" /></th>
                        </tr>
                        <tr><th></th><th>
                            <button type="button" class="btn btn-default btn-lg" ng-click="filterSpells()">
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">Filter</span>
                            </button>
                        </th>

                        <tr><th></th><th>
                            <button type="button" class="btn btn-default btn-lg" ng-click="newSpell()">
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">Create new spell</span>
                            </button>
                        </th>

                        </thead>
                    </table>
                </div>

                <div height="10px"> &nbsp; </div>

                <div id="editor_panel" class="editor_panel" ng-if="editedSpell._id != undefined">
                    <table class="gridtable" width="100%" ng-if="spells.length > 0">
                        <thead>
                        <tr>
                            <th class="spell_name" width="40%">Name</th>
                            <th class="spell_attr" width="10%">Cost</th>
                            <th class="spell_attr" width="10%">RNG</th>
                            <th class="spell_attr" width="10%">AOE</th>
                            <th class="spell_attr" width="10%">POW</th>
                            <th class="spell_attr" width="10%">DUR</th>
                            <th class="spell_attr" width="10%">OFF</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr>
                            <td class="spell_name" ng-class="isGrey($index)"><input ng-model="editedSpell._name" trigger="true" style="width: 100%; height: 100%"/></td>
                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="editedSpell._cost" trigger="true"/></td>
                            <td class="spell_attr" ng-class="isGrey($index)"><select ng-options="range for range in spellRanges" ng-model="editedSpell._rng"/></td>
                            <td class="spell_attr" ng-class="isGrey($index)"><select ng-options="aoe for aoe in spellAOEs" ng-model="editedSpell._aoe"/></td>
                            <td class="spell_attr" ng-class="isGrey($index)"><input ng-model="editedSpell._pow" trigger="true"/> </td>
                            <td class="spell_attr" ng-class="isGrey($index)"><select ng-options="duration for duration in spellDurations" ng-model="editedSpell._duration"/></td>
                            <td class="spell_attr" ng-class="isGrey($index)"><select ng-options="off for off in spellOffensiveness" ng-model="editedSpell._off"/></td>
                        </tr>
                        <tr class="spell_edit"><td colspan="7" ng-class="isGrey($index)"> 
                            <textarea ng-model="editedSpell.__text" style="width: 100%; height: 100%" ></textarea> </td></tr>
                        </tbody>
                    </table>                
                    <div style="margin-top: 15">
                        <button type="button" class="btn btn-default btn-lg" ng-click="saveSpell(editedSpell)" style="float:right; margin-right:15;">
                            <span class="glyphicon glyphicon-save" aria-hidden="true">Save</span>
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="dismissSpell()"  style="float:right; margin-right:15; ">
                            <span class="glyphicon .glyphicon-eject" aria-hidden="true">Dismiss</span>
                        </button>
                    </div>


                </div>

                <div class="col-lg-12" ng-show="filteredSpells.length > 0" >

                    <table class="gridtable" width="100%" ng-if="spells.length > 0">
                        <thead>
                        <tr>
                            <td class="spell_name">Name</th>
                            <th class="spell_attr">Cost</th>
                            <th class="spell_attr">RNG</th>
                            <th class="spell_attr">AOE</th>
                            <th class="spell_attr">POW</th>
                            <th class="spell_attr">DUR</th>
                            <th class="spell_attr">OFF</th>
                            <th >&nbsp;</th>
                        </tr>
                        </thead>


                        <tbody ng-repeat="spell in filteredSpells | orderBy:'_name'"  >
                        <tr ng-click="editSpell(spell)">
                            <td class="spell_name" rowspan="2" ng-class="isGrey($index)">{{spell._name}} </td>
                            <td class="spell_attr" ng-class="isGrey($index)">{{spell._cost}} </td>
                            <td class="spell_attr" ng-class="isGrey($index)">{{spell._rng}} </td>
                            <td class="spell_attr" ng-class="isGrey($index)">{{spell._aoe}} </td>
                            <td class="spell_attr" ng-class="isGrey($index)">{{spell._pow}} </td>
                            <td class="spell_attr" ng-class="isGrey($index)">{{spell._duration}} </td>
                            <td class="spell_attr" ng-class="isGrey($index)">{{spell._off}} </td>
                            <td class="spell_remove" rowspan="2" ng-class="isGrey($index)">
                                <button type="button" class="btn btn-default btn-lg" ng-click="copySpell(spell, $event)">
                                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                                </button>

                            </td>
                        </tr>
                        <tr class="spell_edit" ng-click="editSpell(spell)" ><td colspan="6" ng-class="isGrey($index)"> {{spell.__text}} </td></tr>
                        </tbody>
                    </table>
                </div>

            </form>

        </div><!-- end spells -->

        <div class="tab-pane" id="new_models">


                    <div class="col-lg-4">
                        <table class="table table-inverse">
                            <tr><td>Faction </td><td><select ng-options="faction.name for faction in allFactions" ng-model="selectedNewModelFaction" ng-change="displayExistingModelsId()" /></td></tr>
                            <tr><td>Subtype </td><td><select ng-options="modelType.name for modelType in modelTypesSorting" ng-model="selectedNewModelType" ng-change="displayExistingModelsId()" /></td></tr>
                            <tr><td rowspan="{{existingModels.length + 1}}">Existing models </td></tr>
                            <tr ng-repeat="model in existingModels | orderBy:'_id'">
                            <td><span class="label label-default"> {{model._id}} - {{model.name}}</span> </td>
                            </tr>
                            <tr><td>Please choose a relevant new ID that does <u>NOT</u> exists</td></tr>
                            <tr><td>ID </td><td><input ng-model="newModelId" trigger="true" size="10" /> </input></td></tr>
                            <tr><td>Type </td><td>{{selectedNewModelType.name}}</input></td></tr>
                            <tr><td>short name </td><td><input ng-model="newModelShortName" trigger="true" size="30" /> </input></td></tr>
                            <tr><td>long name </td><td><input ng-model="newModelLongName" trigger="true" size="50" /> </input></td></tr>
                        </table>
                        <div class="col-lg-12" ng-show="existingModels.length > 0">
                        <button type="button" class="btn btn-default btn-lg" ng-click="createNewModel()">
                          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">Create a new entry</span>
                        </button>
                    </div>
                    </div>

                    




        </div><!-- end create new models -->

        <div class="tab-pane" id="compendium">
<!-- $scope.modelTypes = ["all", "warcaster", "warlock", "warjack", "colossal", "warbeast", "battle engine", "unit", "CA", "WA","solo"]; -->

            <span class="label label-success"  style="display: inline-block;">Green = good </span>
            <span class="label label-info"  style="display: inline-block;">Blue = almost good </span>
            <span class="label label-warning"  style="display: inline-block;">Orange = not good </span>
            <span class="label label-default"  style="display: inline-block;">Grey = no status yet </span>

            <div ng-repeat="faction in allFactions">
                <div class="col-lg-12"><h1>{{faction.name}}</h1></div>

                <type ng-repeat="type in modelTypesSorted">
                    <div class="col-lg-2" ng-if="faction[type]">
                        <h2>{{type}}</h2>
                        <div ng-repeat="card in faction[type]">
                            <span ng-if="card.proofReadingStatus == 'OK'" class="label label-success"  style="display: inline-block;">{{card.name}} </span>
                            <span ng-if="card.proofReadingStatus == 'Mainly ok'" class="label label-info" style="display: inline-block;">{{card.name}} </span>
                            <span ng-if="card.proofReadingStatus == 'Mainly not ok'" class="label label-warning" style="display: inline-block;">{{card.name}} </span>
                            <span ng-if="card.proofReadingStatus == 'Yet to read' || card.proofReadingStatus == undefined" class="label label-default" style="display: inline-block;">{{card.name}} </span>
                            <span ng-if="card.version" class="label label-default" style="display: inline-block;">{{card.version}}</span>
                            <span ng-if="card.version == undefined" class="label label-default" style="display: inline-block;">(?)</span>
                        </div>

                    </div
                </type>
            </div>

        </div><!-- end compendium -->


    </div>

<div>



<script>
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
</script>
</body>
</html>