<html ng-app="whacApp">
<head>
    <title>WHAC Data Editor : v2</title>

    <script src="resources/js/angular.js"></script>
    <script src="resources/js/angular-route.js"></script>

    <script src="resources/js/jquery-1.12.4.js"></script> <!-- required for bootstrap -->
    <script src="resources/js/bootstrap.min.js"></script>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="resources/js/app.js"></script>
    <script src="resources/js/cards/cards.service.js"></script>
    <script src="resources/js/cards/cards.controller.js"></script>

</head>
<body>
<script>
    // var app = angular.module('app', []);
</script>

<div ng-controller="ListCards">

<div class="panel panel-primary">
  <div class="panel-heading">Choose model to edit</div>
  <div class="panel-body">
    <div class="col-lg-4">
        <table class="table table-inverse">
            <tr><td minWidth="100px">System </td><td><select ng-options="system.name for system in systems" ng-model="selectedSystem"></select></td></tr>
            <tr><td>Faction </td><td><select ng-options="faction.name for faction in selectedSystem.factions" ng-model="selectedFaction"/></td></tr>
            <tr><td>Subtype </td><td><select ng-options="modelType for modelType in modelTypes" ng-model="selectedType"/></td></tr>
        </table>
    </div>

    <div class="col-lg-6">
        <button type="button" class="btn btn-default btn-lg" ng-click="filterCards()">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>

        <select ng-size="{{filteredCards.length}}" ng-options="card.name group by retrieveTypeLabel(card.type) for card in filteredCards | orderBy:'sortedLabel'" ng-model="selectedCard"></select>

        <button type="button" class="btn btn-default btn-lg" ng-click="editCard()">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit</span>
        </button>
    </div>
  </div>
</div>

<div ng-if="editedCard.name != undefined" class="panel panel-primary">
  <div class="panel-heading">Editing {{editedCard.name}} <button type="button" class="btn btn-default btn-lg" ng-click="save()"><span class="glyphicon glyphicon-floppy-saved " aria-hidden="true"></span></button> </div>
  <div class="panel-body">

    <div class="panel-info">
        <div class="panel-heading">Model headers </div>
        <div class="panel-body">
        <table class="table table-inverse">
            <tr><td minWidth="100px">Id </td><td>{{editedCard._id}}</td></tr>
            <tr><td>Name </td><td><input ng-model="editedCard.name" size="30" /></td></tr>
            <tr><td>Full name </td><td><input ng-model="editedCard.full_name" size="40" /></td></tr>
            <tr><td>Qualification </td><td><input ng-model="editedCard.qualification" size="40"/></td></tr>
            <tr ng-if="editedCard.type!='unit'">
                <td ng-if="editedCard.type=='warcaster'">Warjack points </td>
                <td ng-if="editedCard.type=='warlock'">Warbeasts points </td>
                <td ng-if="editedCard.type!='warcaster' && editedCard.type!='warlock'">Cost </td>
                <td>
                    <input ng-if="editedCard.type=='warcaster'" ng-model="editedCard.wj_points" size="2" />
                    <input ng-if="editedCard.type=='warlock'" ng-model="editedCard.wb_points" size="2" />
                    <input ng-if="editedCard.type!='warcaster' && editedCard.type!='warlock'" ng-model="editedCard.cost" size="2" />
                </td>
            </tr>
            <tr ng-if="editedCard.type=='unit' && editedCard.maxSize=='-'">
                <td>Cost </td>
                <td> <input ng-model="editedCard.minCost" size="2" /> points for <input ng-model="editedCard.minSize" size="2" /> models</td>
            </tr>
            <tr ng-if="editedCard.type=='unit' && editedCard.maxSize!='-'">
                <td>Cost </td>
                <td> <input ng-model="editedCard.minCost" size="2" />/<input ng-model="editedCard.maxCost" size="2" /> points for <input ng-model="editedCard.minSize" size="2" /> / <input ng-model="editedCard.maxSize" size="2" /> models </td>
            </tr>
            <tr><td>Field Allowance </td><td><select ng-options="fa for fa in faDefinitions" ng-model="editedCard.fa"></td></tr>
        </table>
        </div>
    </div> <!-- card_label -->

    <div ng-if="editedCard.feat != undefined" class="panel-info">
        <div class="panel-heading"> Feat : <input ng-model="editedCard.feat.title" trigger="true" size="80" /></div>
        <div class="panel-body"><textarea ng-model="editedCard.feat.text" cols="80" rows="5"></textarea></div>
    </div>

    <div class="panel-info" ng-repeat="model in editedCard.models" >
        <div class="panel-heading">Model #{{$index + 1}} : <input ng-model="model.basestats._name" size="40"/></div>
        <div class="panel-body"> 
            <table class="table table-inverse">
                <thead>
                <tr>
                <td>SPD</td><td>STR</td><td>MAT</td><td>RAT</td><td>DEF</td><td>ARM</td><td>CMD</td><td>FOC</td><td>FUR</td><td>THR</td><td>HP</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input ng-model="model.basestats._spd" size="2"></td>
                    <td><input ng-model="model.basestats._str" size="2"></td>
                    <td><input ng-model="model.basestats._mat" size="2"></td>
                    <td><input ng-model="model.basestats._rat" size="2"></td>
                    <td><input ng-model="model.basestats._def" size="2"></td>
                    <td><input ng-model="model.basestats._arm" size="2"></td>
                    <td><input ng-model="model.basestats._cmd" size="2"></td>
                    <td><input ng-model="model.basestats._foc" size="2"></td>
                    <td><input ng-model="model.basestats._fur" size="2"></td>
                    <td><input ng-model="model.basestats._thr" size="2"></td>
                    <td><input ng-model="model.basestats._hitpoints" size="2"></td>
                </tr>
                </tbody>
            </table>

            <div class="icons">
                <input type="checkbox" ng-model="model.basestats._advance_deployment" />Advance deploy, 
                <input type="checkbox" ng-model="model.basestats._amphibious" />amphibious, 
                <input type="checkbox" ng-model="model.basestats._arc_node" />arc node, 
                <input type="checkbox" ng-model="model.basestats._assault"/>assault, 
                <input type="checkbox" ng-model="model.basestats._cavalry"/>cavalry,
                <input type="checkbox" ng-model="model.basestats._cma"/>CMA,
                <input type="checkbox" ng-model="model.basestats._cra"/>CRA,
                <input type="checkbox" ng-model="model.basestats._construct"/>construct,
                <input type="checkbox" ng-model="model.basestats._eyelesssight"/>eyeless,
                <input type="checkbox" ng-model="model.basestats._flight"/>flight,
                <input type="checkbox" ng-model="model.basestats._gunfighter"/>gunfighter,
                <input type="checkbox" ng-model="model.basestats._incorporeal"/>incorporeal,
                <input type="checkbox" ng-model="model.basestats._immunity_corrosion"/>immune corr.
                <input type="checkbox" ng-model="model.basestats._immunity_electricity"/>immune elect.
                <input type="checkbox" ng-model="model.basestats._immunity_fire"/>immune fire,
                <input type="checkbox" ng-model="model.basestats._immunity_frost"/>immune frost,
                <input type="checkbox" ng-model="model.basestats._jack_marshal"/>jack marshal,
                <input type="checkbox" ng-model="model.basestats._officer"/>officer,
                <input type="checkbox" ng-model="model.basestats._parry"/>parry,
                <input type="checkbox" ng-model="model.basestats._pathfinder"/>pathfinder,
                <input type="checkbox" ng-model="model.basestats._soulless"/>soulless,
                <input type="checkbox" ng-model="model.basestats._standard_bearer"/>standard bearer,
                <input type="checkbox" ng-model="model.basestats._stealth"/>stealth,
                <input type="checkbox" ng-model="model.basestats._tough"/>tough,
                <input type="checkbox" ng-model="model.basestats._undead"/>Undead
            </div>   

            <div class="panel-warning">
                <div class="panel-heading">Spells</div>
                <div class="panel-body">
                    <table width="100%" ng-if="model.spells.length > 0">
                        <thead>
                        <tr>
                            <td class="spell_name">Name</td>
                            <td class="spell_attr">Cost</td>
                            <td class="spell_attr">RNG</td>
                            <td class="spell_attr">AOE</td>
                            <td class="spell_attr">POW</td>
                            <td class="spell_attr">DUR</td>
                            <td class="spell_attr">OFF</td>
                            <td >&nbsp;</td>
                        </tr>
                        </thead>


                        <tbody ng-repeat="spell in model.spells">
                        <tr>
                            <td class="spell_name">{{spell._name}} </td>
                            <td class="spell_attr">{{spell._cost}} </td>
                            <td class="spell_attr">{{spell._rng}} </td>
                            <td class="spell_attr">{{spell._aoe}} </td>
                            <td class="spell_attr">{{spell._pow}} </td>
                            <td class="spell_attr">{{spell._duration}} </td>
                            <td class="spell_attr">{{spell._off}} </td>
                            <td class="spell_remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                        </tr>
                        <tr class="spell_edit"><td colspan="9">{{spell.__text}} </td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>



  here is the edition!
  </div>
</div>






 
</div>    


</div>

</div>


<div

</body>
</html>