<html> 
<head><title>WHAC - Online</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="whac.css">
	<link rel="icon" href="favicon.ico" />
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="js.cookie.js"></script>
	<script src="jsrender.js"></script>
	<script src="jsviews.js"></script>

<script src="faction_trollblood.js"></script>
<script src="faction_skorne.js"></script>
<script src="faction_retribution.js"></script>
<script src="faction_orboros.js"></script>
<script src="faction_minions.js"></script>
<script src="faction_mercs.js"></script>
<script src="faction_menoth.js"></script>
<script src="faction_khador.js"></script>
<script src="faction_everblight.js"></script>
<script src="faction_cyriss.js"></script>
<script src="faction_cygnar.js"></script>
<script src="faction_cryx.js"></script>

	<script src="whac.js"></script>

	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65391676-1', 'auto');
  ga('send', 'pageview');

</script>


<script>
$(function() {
$( "#army_options" ).accordion({
		heightStyle: "content"
	})
});

</script>


</head>
 
<body>

<div id="dialog-confirm-unit-size" title="Unit size">
</div>


<div id="dialog-export-army" title="Export Army" style="display: none;">
	<ul id="selected_entries_ul_export"></ul>
</div>

<div id="dialog-theme-display" title="Theme force requirements/benefits" style="display: none;">
<H2>Models available</H2>
	<ul id="theme_groups_available"></ul>
<H2>Requirements</H2>
	<ul id="theme_must_have"></ul>
<H2>Benefits</H2>
	<ul id="theme_benefits"></ul>
</div>



<script id="modelSelectionTemplate" type="text/x-jsrender">
		{^{for groups}}
			{{if entries.length > 0}}
			<li class="selection_group"><img src="{{:logo}}.png" class="faction_logo"/>{{:label}}</li>
				<ul id="group_{{:id}}" style="display:none ; position: relative;">
					{^{for entries}}				
					<li class="selection_model">
						<div class="model_title"> {^{:name}} 
							{{if min != undefined}} 
								({{:min}}/{{:max}} models)
							{{else}}
								{{if count}} 
								({{:count}} models)
								{{/if}}	
							{{/if}}
						</div>
						<img class="add_entry" data-link="class{merge:isAddable toggle='visible'} class{merge:!isAddable toggle='invisible'}" 
							src="add.png" />

						<img class="freeModel" data-link="class{merge:free toggle='visible'} class{merge:!free toggle='invisible'}" src="free.gif"/>

						<div class="fa">FA: {^{:selectedFA}} /
						{^{if alteredFA != 0}}
							<font color="blue">{^{:alteredFA}}</font>
						{{else}}
							{{:fa}}
						{{/if}}
						</div> 

						
						{{if min != undefined}} 
							<div class="cost">
							{^{if alteredCost != -1}}
								<font color="blue">{^{:alteredCostMin}}/{^{:alteredCostMax}}</font>
							{{else}}
								{{:costMin}}/{{:costMax}}
							{{/if}}
							PC</div>
						{{else}}
							<div class="cost">
							{^{if alteredCost != -1}}
								<font color="blue">{^{:alteredCost}}</font>
							{{else}}
								{{:cost}}
							{{/if}}
							PC</div>
						{{/if}}
						<div>&nbsp;</div>
					</li>
					{{/for}}
				</ul>
			{{/if}}
  		{{/for}}
</script>


<script id="modelSelectedTemplate" type="text/x-jsrender">
		{^{for entries}}
			<li>
				<div class="model_title">{{:name}} </div> 
				
				<img class="remove_entry" src="remove.png" />
				<img class="specialist" data-link="class{merge:specialist toggle='full_visible'} class{merge:!specialist toggle='shadow'} class{merge:canSpecialist toggle='visible'} class{merge:!canSpecialist toggle='invisible'}" 
							src="specialist.png" />
				<img class="freeModel" data-link="class{merge:free toggle='visible'} class{merge:!free toggle='invisible'}" src="free.gif"/>
				<div class="cost">{^{if alteredCost!=-1}}<font color="blue">{^{:alteredCost}}</font>{{else}}{^{:cost}}{{/if}} PC</div>
				<div>&nbsp;</div>
			</li>

			{^{if attachment}}
				<ul>
					<li>
						<div class="model_title"> {^{:attachment.name}}</div> 
						<img class="remove_attachment" src="remove.png" />
						<img class="specialist_attach" data-link="class{merge:attachment.specialist toggle='full_visible'} class{merge:!attachment.specialist toggle='shadow'} class{merge:attachment.canSpecialist toggle='visible'} class{merge:!attachment.canSpecialist toggle='invisible'}" 
									src="specialist.png" />
						<img class="freeModel" data-link="class{merge:attachment.free toggle='visible'} class{merge:!attachment.free toggle='invisible'}" src="free.gif"/>
						<div class="cost">{^{if attachment.alteredCost!=-1}}<font color="blue">{^{:attachment.alteredCost}}</font>{{else}}{^{:attachment.cost}}{{/if}} PC</div>
						<div>&nbsp;</div>
					</li>
				</ul>
			{{/if}}
				<ul>
				{^{for warjacks}}				
					<li>
						<div class="model_title"> {^{:name}}</div> 
						<img class="remove_warjack" src="remove.png" />
						<img class="specialist" data-link="class{merge:specialist toggle='full_visible'} class{merge:!specialist toggle='shadow'} class{merge:canSpecialist toggle='visible'} class{merge:!canSpecialist toggle='invisible'}" 
									src="specialist.png" />
						<img class="freeModel" data-link="class{merge:free toggle='visible'} class{merge:!free toggle='invisible'}" src="free.gif"/>
						<div class="cost">{^{if alteredCost!=-1}}<font color="blue">{^{:alteredCost}}</font>{{else}}{^{:cost}}{{/if}} PC</div>
						<div>&nbsp;</div>
					</li>
				{{/for}}
				{^{for warbeasts}}				
					<li>
						<div class="model_title"> {^{:name}}</div> 
						<img class="remove_warbeast" src="remove.png" />
						<img class="specialist" data-link="class{merge:specialist toggle='full_visible'} class{merge:!specialist toggle='shadow'} class{merge:canSpecialist toggle='visible'} class{merge:!canSpecialist toggle='invisible'}" 
									src="specialist.png" />
						<img class="freeModel" data-link="class{merge:free toggle='visible'} class{merge:!free toggle='invisible'}" src="free.gif"/>
						<div class="cost">{^{if alteredCost!=-1}}<font color="blue">{^{:alteredCost}}</font>{{else}}{^{:cost}}{{/if}} PC</div>
						<div>&nbsp;</div>
					</li>
				{{/for}}
				</ul>
				<ul>
				{^{for weapons}}				
					<li>
						<div class="model_title"> {^{:name}}</div> 
						<img class="remove_wa" src="remove.png" />
						<img class="specialist" data-link="class{merge:specialist toggle='full_visible'} class{merge:!specialist toggle='shadow'} class{merge:canSpecialist toggle='visible'} class{merge:!canSpecialist toggle='invisible'}" 
									src="specialist.png" />
						<img class="freeModel" data-link="class{merge:free toggle='visible'} class{merge:!free toggle='invisible'}" src="free.gif"/>
						<div class="cost">{^{if alteredCost!=-1}}<font color="blue">{^{:alteredCost}}</font>{{else}}{^{:cost}}{{/if}} PC</div>
						<div>&nbsp;</div>
					</li>
				{{/for}}
				</ul>

  		{{/for}}
</script>


<script id="armyExportTemplate" type="text/x-jsrender">
	<ul id="export_content" style="float:left ; width:50%">
		{^{for entries}}
			<li>
				<div class="model_title">{{:name}} 
				{{if specialist}} (SPECIALIST){{/if}}
				{{if free}} (FREE){{/if}}
				</div> 
				<div class="cost">{^{if alteredCost!=-1}}<font color="blue">{^{:alteredCost}}</font>{{else}}{^{:cost}}{{/if}} PC</div>
				<div>&nbsp;</div>
			</li>

			{^{if attachment}}
				<ul>
					<li>
						<div class="model_title"> * {^{:attachment.name}}
						{{if attachment.specialist}} (SPECIALIST){{/if}}
						{{if attachment.free}} (FREE){{/if}}
						</div> 
						<div class="cost">{^{if attachment.alteredCost!=-1}}<font color="blue">{^{:attachment.alteredCost}}</font>{{else}}{^{:attachment.cost}}{{/if}} PC</div>
						<div>&nbsp;</div>
					</li>
				</ul>
			{{/if}}
				<ul>
				{^{for warjacks}}				
					<li>
						<div class="model_title"> *{^{:name}}
						{{if specialist}} (SPECIALIST){{/if}}
						{{if free}} (FREE){{/if}}
						</div> 
						<div class="cost">{^{if alteredCost!=-1}}<font color="blue">{^{:alteredCost}}</font>{{else}}{^{:cost}}{{/if}} PC</div>
						<div>&nbsp;</div>
					</li>
				{{/for}}
				{^{for warbeasts}}				
					<li>
						<div class="model_title"> *{^{:name}}
						{{if specialist}} (SPECIALIST){{/if}}
						{{if free}} (FREE){{/if}}
						</div> 
						<div class="cost">{^{if alteredCost!=-1}}<font color="blue">{^{:alteredCost}}</font>{{else}}{^{:cost}}{{/if}} PC</div>
						<div>&nbsp;</div>
					</li>
				{{/for}}
				</ul>
				<ul>
				{^{for weapons}}				
					<li>
						<div class="model_title">* {^{:name}}</div> 
						{{if specialist}} (SPECIALIST){{/if}}
						{{if free}} (FREE){{/if}}
						<div class="cost">{^{if alteredCost!=-1}}<font color="blue">{^{:alteredCost}}</font>{{else}}{^{:cost}}{{/if}} PC</div>
						<div>&nbsp;</div>
					</li>
				{{/for}}
				</ul>
  		{{/for}}
  		<li ><div id="objective_display" class="model_title"></div></li>
  	</ul>

	<textarea id="output" cols="30" rows="15" style="float:right" ; width:50%>{^{for entries}}
{{:name}} {{if specialist}}(SPECIALIST){{/if}}{{if free}} (FREE){{/if}}{^{if alteredCost!=-1}}!{^{:alteredCost}}!{{else}}{^{:cost}}{{/if}} PC{^{if attachment}}
* {^{:attachment.name}} {{if attachment.specialist}}(SPECIALIST){{/if}}{{if attachment.free}} (FREE){{/if}}{^{if attachment.alteredCost!=-1}}!{^{:attachment.alteredCost}}!{{else}}{^{:attachment.cost}}{{/if}} PC{{/if}}{^{for warjacks}}
* {^{:name}} {{if specialist}}(SPECIALIST){{/if}}{{if free}}(FREE){{/if}} {^{if alteredCost!=-1}}!{^{:alteredCost}}!{{else}}{^{:cost}}{{/if}} PC{{/for}}{^{for warbeasts}}
* {^{:name}} {{if specialist}}(SPECIALIST){{/if}}{{if free}}(FREE){{/if}} {^{if alteredCost!=-1}}!{^{:alteredCost}}!{{else}}{^{:cost}}{{/if}} PC{{/for}}{{/for}}</textarea>

</script>

<script id="tierBenefitsTemplate" type="text/x-jsrender">
	<ul>
		{{for faAlterations}}
		<li>
			{{:faAlterString}}
		</li>
		{{/for}}

		{{for costAlterations}}
		<li>
			{{:costAlterString}}
		</li>
		{{/for}}

		{{for freeModels}}
		<li>
			{{:freeModelString}}
		</li>
		{{/for}}


		{{if benefit}}
			<li>{{:benefit}}</li>
		{{/if}}
  	</ul>
</script>

<script id="tierLevelTemplate" type="text/x-jsrender">
	<ul>
		{^{for availableModels}}
			<li><a class="group">{{:type}} </a></li>
			<ul>
				<li>{{:models}}</li>
			</ul>
  		{{/for}}
  	</ul>
</script>

<script id="tierMustHaveTemplate" type="text/x-jsrender">
	<ul>
		{{if mustHave == null || mustHave.length == 0 }}
		The army can include only the models listed above.
		{{/if}}

		{{for mustHave}}
		<li>
			{{if inBG}}
			Warcaster/lock Battlegroup includes {{:min}} or more
			{{else}}
				{{if inMarshal}}
				The army includes {{:min}} or more `jack marshaled warjacks
				{{else}}
				The army includes {{:min}} or more 
				{{/if}}
			{{/if}}
			{{:mustHaveString}}
		</li>
		{{/for}}
		<br>
  	</ul>
</script>






<div class="header">
<table><tr><td rowspan="2"><img src="ic_lau10.png" width="96px" height="96px"/></td><td><H1>Warmachine &amp; Hordes Army Creator : Online! (updated 2015-12-02 for Devastation)</H1><H2 id="resume">Menoth, 50+10 points, Heaven's Doors</td></tr></table>
</div>
 
<div class=".ui-widget">
<form>

<div class="ui-accordion" id="army_options" data-collapsed="false">


<!-- ******************************** choose options : points / specialists ***************************************-->
	<H1 class="ui-accordion-header"> Create army options</H1>
	<div id="army_option">
	 
	 	<p>
		<label for="range-army-points">Army points (normal) :</label> <input id="range-army-points-text" type="text" value="50" readonly="true">
		</p>
		<div id="range-army-points"></div>
		<p/>

		<div> 
		    <label for="nb_casters">Number of warcasters/warlocks:</label>
		    <select id="nb_casters" name="nb_casters_select" autocomplete="off">
		        <option value="1" selected="selected">1</option>
		        <option value="2">2</option>
		        <option value="3">3</option>
		        <option value="4">4</option>
		        <option value="5">5</option>
		        <option value="6">6</option>
		    </select>
		</div>
		<p/>

		<div> 
		    <label for="flip-specialists">Use specialist:</label>
		    <select id="flip-specialists" name="flip-specialists-select" autocomplete="off">
		        <option value="off" selected="true" >Off</option>
		        <option value="on">On</option>
		    </select>
		</div>
		<p/>
		<div id="div-specialist-range">
				<p>
		    <label for="range-specialits-points">Specialist points :</label> <input id="range-specialits-points-text" type="text" value="10"  readonly="true">
		    </p>
		    <div id="range-specialits-points" width="50%"></div>
		</div>   
		<button id="validate-points-button">Validate points</button>
	</div>




<!-- ******************************** choose faction ***************************************-->

	<H1> Choose faction </H1>
	<div id="faction_options">
	    <select name="select-native-system" id="select-native-system"  autocomplete="off">
	        <option value="0">Warmachine</option>
	        <option value="1">Hordes</option>
	    </select>
	    
	    <select name="select-native-faction" id="select-native-faction"  autocomplete="off">
	    </select>
	    
	    <select name="select-native-tierOrContract" id="select-native-tierOrContract"  autocomplete="off">
	    </select>


	    <button id="validate-faction-button">Validate faction</button>
	</div>



<!-- ******************************** choose army entries ***************************************-->  
  	<H1> Select army </H1>
	<div id="army_selection">
		<div id="army_zone"  class="army_zone">
			<div id="compendium" class="compendium"></div>
			<div id="army_points_div" class="army_points"></div>
			<div id="tiers_div" class="tiers"> 
				Theme force : <span id="theme_title"></span>
				<img id="tier1" class="tierImg" src ="tiers1.png" />
				<img id="tier2" class="tierImg" src ="tiers2.png" />
				<img id="tier3" class="tierImg" src ="tiers3.png" />
				<img id="tier4" class="tierImg" src ="tiers4.png" />
				
			</div>
			
		   	<div id="army_entries" class="army_entries">
		   		<ul id="entrygroups">
		   		</ul>
		  	</div>
			<div id="army_selected" class="army_selected">
			    <ul id="selected_entries_ul">
			    </ul>
			    <ul>
		    		<li id="objective_choice" class="objective_choice">
						<label for="objective">Objective :</label> 
						<select id="objective" name="objective">
							<option id="0">Select Objective</option>
							<option id="1">Arcane Wonder</option>
							<option id="2">Armory</option>
							<option id="3">Bunker</option>
							<option id="4">Effigy of Valor</option>
							<option id="5">Fuel Cache</option>
							<option id="6">Stockpile</option>
						</select>
					</li>  		
			    </ul>
			</div>
			
			<div height="500px">&nbsp;</div>
		</div>
		<p/>
		<div id="export-army-button">Export army content</div>
		<div id="clean-army-button">Clear army content</div>
		
  	</div>
  

<!-- ******************************** choose army entries ***************************************-->  
	<H1 class="ui-accordion-header"> Contributing, Help, ...</H1>
	<div id="army_option">  
		<p>This army builder is provided "as is" and is currently work-in progress.
		</p>
		<p>The source code is shared on github : <a href="https://github.com/schlaf/schlaf.github.io/tree/master/whac_online"> Whac-online on Github </a> ; feel free to fork, clone, duplicate, alter this code, enhance it.
		</p>
		<p>The "data" is in JSON format, you should be able to easily correct/modify/enhance it. 
		</p>
		<p>Feel free to submit pull requests or suggestions, either via Github, either via mail for slaforet (at) gmail (dot) com ; i do not promise quick support or implementation but this will be taken in account, one day or another.</p>
		<p>For support, connect to WHAC forum : <a href="http://whac.forumactif.org/">Whac.forumactif.org</a></p>
	</div>
  
</div>


</div>

 <!-- whac -->
 
 </form>

 </body>
 
 <script>
var arrayLength = systems.length;
$(document).ready(function(){
	army_points = 50;
	army_points_specialists = 10;


	
	$("#tier1").data({ level: 1 });
	$("#tier2").data({ level: 2 });
	$("#tier3").data({ level: 3 });
	$("#tier4").data({ level: 4 });

	$("#tier1").click(function(event) {
		var levelValue = $.data(this, 'level');
		showThemeLevel(event,levelValue);
	});	
	$("#tier2").click(function(event) {
		var levelValue = $.data(this, 'level');
		showThemeLevel(event,levelValue);
	});	
	$("#tier3").click(function(event) {
		var levelValue = $.data(this, 'level');
		showThemeLevel(event,levelValue);
	});	
	$("#tier4").click(function(event) {
		var levelValue = $.data(this, 'level');
		showThemeLevel(event,levelValue);
	});	

	$("#range-army-points").slider({
	 	range: "max",
		min: 15,
		max: 300,
		value: 50,
		slide : function(event, ui) {
			$("#range-army-points-text").val(ui.value);
			
		},
		change: function() {
			buildResume();
		}
	});

	$( "#range-army-points-text" ).val( $( "#range-army-points" ).slider( "value" ) );

	$("#range-specialits-points").slider({
	 	range: "max",
		min: 5,
		max: 30,
		value: 10,
		step: 5,
		slide : function(event, ui) {
			$("#range-specialits-points-text").val(ui.value);
		},
		change: function() {
			buildResume();
		}
	});
	$( "#range-specialits-points-text" ).val( $( "#range-specialits-points" ).slider( "value" ) );

	$("#range-specialits-points").val("off");
	$("#div-specialist-range").hide();


	$("#nb_casters").change(function() {
		
	});

	$("#range-specialits-points").change(function() {
		$("#range-specialits-points-text").val($("#range-specialits-points").val());
	});
	

	
	
	$('#flip-specialists').change(function() {
	    var page = $(this).val();
	    if (page == "on") {
	    	showSpecialists(true);
	    	$('#div-specialist-range').show(400);
	    } else {
	    	showSpecialists(false);
	    	$('#div-specialist-range').hide(400);
	    }
	    buildResume();
	});


	$("#validate-points-button" )
      .button()
      .click(function( event ) {
      	nb_casters = $("#nb_casters").val();
      	recomposeArmy();
      	$("#army_options").accordion( "option", "active", 1 );
      	event.preventDefault();
      });

	
  $("#select-native-system").change( function() {
  	populateFactions(this.value);
  });

  $("#select-native-faction").change( function() {
  	populateTiersContracts(this.value);
  });

  
  $("#validate-faction-button" )
      .button()
      .click(function( event ) {
		event.preventDefault();
		changeFaction();
      });
	

$("#clean-army-button")      
	.button()
	.click(function( event ) {
		$.observable(selected_entries.entries).remove(0, selected_entries.entries.length);
		recomposeArmy();
		event.preventDefault();
	});

$("#export-army-button")
      .button()
      .click(function( event ) {

		var content = $("#army_points_div").html();
		content += "<p/>" 
		content += $.templates("#armyExportTemplate").render(selected_entries);

		var title = "Export army content : use ctrl+C to copy";
		var buttons = new Array();
		
		var button = {
			text: "Close" ,
			click: function() {
				// addWarjack(candidate, model);
				$( this ).dialog( "close" );
				}
			};
		buttons.push(button);

		$( "#dialog-export-army" ).html(content);
		$("#objective_display").html("Objective = " + $("#objective").val());
		$("#output").prepend( returnArmyPoints() + "\n");
		$("#output").append("\nObjective = " + $("#objective").val());
		$( "#dialog-export-army" ).dialog({
			resizable: false,
			height:"auto",
			title:title,
			width:850,
			modal: true,
			buttons: buttons
		});

      	event.preventDefault();
      });


  populateFactions(0);
  populateTiersContracts("Cryx");
  populateEntryGroups();
  calculateCompendium();
  // $("#entry-groups" ).selectable();
  // $("#entry-groups" ).selectable( "refresh" );
  
  // populateEntries();

});

function populateFactions(systemValue) {
	var options = '';
	var firstFaction = null;
	chosenSystem = systems[systemValue];
	for (var i = 0; i < factions[chosenSystem].length; i++) {
	    options += '<option value="' + factions[chosenSystem][i] + '">' + factions[chosenSystem][i] + '</option>';

	    if (i == 0) {
	    	firstFaction = factions[chosenSystem][i];
	    }
	}
	$('#select-native-faction').empty();
	$('#select-native-faction').html(options);

	populateTiersContracts(firstFaction);
}


function populateTiersContracts(factionValue) {
	var options = '';
	options += '<option value="None">None</option>';

	var selectedFactionId = faction_ids[factionValue];

	full_tiers[factionValue].tiers.map(function(tier) {
 		options += '<option value="' + tier.name + '">' + tier.name + '</option>';
	});
	$('#select-native-tierOrContract').empty();
	$('#select-native-tierOrContract').html(options);
}

function populateEntryGroups() {

	
$.templates("#modelSelectionTemplate").link("#entrygroups", full_entries)
.on("click", ".add_entry", function() {
    var view = $.view(this);
    // view.data is the entry!
    var selectedNewEntry = tryAddModel(view.data.id);
})
.on("click", ".selection_group", function() {
	var view = $.view(this);
    // view.data is the group!
	var isOpen = view.data.open;
	if (isOpen == true) {
		view.data.open = false;
		$("#group_"+ view.data.id).hide();
	} else {
		view.data.open = true;
		$("#group_"+ view.data.id).show();
	}
});

$.templates("#modelSelectedTemplate").link("#selected_entries_ul", selected_entries)
.on("click", ".remove_entry", function() {
    var view = $.view(this);
    var index = $.view(this).index;
    // view.data is the entry!
    var selectedNewEntry = tryRemoveModel(index, view.data);
})
.on("click", ".specialist", function() {
    var view = $.view(this);
    var index = $.view(this).index;
    // view.data is the entry!
    flipSpecialist(view.data);
})
.on("click", ".specialist_attach", function() {
    var view = $.view(this);
    var index = $.view(this).index;
    // view.data is the parent of the attachment!
    flipSpecialistAttachment(index, view.data);
})

.on("click", ".remove_attachment", function() {
    var view = $.view(this);
    var index = $.view(this).getIndex();
    // view.data is the parent of the attachment!
    var selectedNewEntry = tryRemoveAttachment(index, view.data);
})
.on("click", ".remove_warjack", function() {
    var view = $.view(this);
    var index = $.view(this).getIndex();
    var parentIndex = view.parent.getIndex();
    // view.data is the warjack!
    var selectedNewEntry = tryRemoveWarjack(parentIndex, index, view.data);
})
.on("click", ".remove_warbeast", function() {
    var view = $.view(this);
    var index = $.view(this).getIndex();
    var parentIndex = view.parent.getIndex();
    // view.data is the warjack!
    var selectedNewEntry = tryRemoveWarbeast(parentIndex, index, view.data);
})
.on("click", ".remove_wa", function() {
    var view = $.view(this);
    var index = $.view(this).getIndex();
    var parentIndex = view.parent.getIndex();
    // view.data is the WA!
    var selectedNewEntry = tryRemoveWA(parentIndex, index, view.data);
});

}

</script>

 
 </html>
