div#entry {
border-top: 5px solid #E9EFE5;
border: 1px solid #000;
}

#army_selected ul {
	padding-left: 0px;
}

#army_selected ul li {	
	border:1px solid black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;

	margin-left: 0px;
	margin-bottom: 5px;
	
	line-height: 18px;
	list-style-type: none;
	background-color: #EEE;
	background-repeat: no-repeat;
	box-shadow: rgba(0,0,0,0.4) 4px 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

	vertical-align: middle;
}

#army_selected ul ul li  {	
	border:1px solid black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;

	margin-left: 15px;
	margin-bottom: 5px;
	
	line-height: 18px;
	list-style-type: none;
	background-color: #EEE;
	background-repeat: no-repeat;
	box-shadow: rgba(0,0,0,0.4) 2px 2px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#army_selected div.model_title  {
	float: left; 
	text-transform : uppercase;
	font-size:8pt;
	width: 60%;
}

#drag div.comp_name  {
	float: left; 
	text-transform : uppercase;
	font-size:8pt;
	width: 20%;
}

#drag div.comp_nature {
	float: left;
	font-size:8pt;
	width: 15%;
	padding-left: 2px;
}

#drag div.comp_description {
	padding-left: 15px;
	font-size:8pt;
	float: left;
}

#drop div.comp_name  {
	float: left; 
	text-transform : uppercase;
	font-size:8pt;
	width: 20%;
}

#drop div.comp_nature {
	float: left;
	font-size:8pt;
	width: 15%;
	padding-left: 2px;
}

#drop div.comp_description {
	padding-left: 15px;
	font-size:8pt;
	float: left;
}


#army_selected ul li img.remove_entry {
	width: 20px;
	height: 20px;
	float: right;
	padding-right: 5px;
}

#army_selected ul ul li img.remove_attachment {
	width: 20px;
	height: 20px;
	float: right;
	padding-right: 5px;
}

#army_selected ul ul li img.remove_warjack {
	width: 20px;
	height: 20px;
	float: right;
	padding-right: 5px;
}

#army_selected ul ul li img.remove_warbeast {
	width: 20px;
	height: 20px;
	float: right;
	padding-right: 5px;
}


#army_selected ul ul li img.remove_wa {
	width: 20px;
	height: 20px;
	float: right;
	padding-right: 5px;
}

#army_selected div.cost {
	padding-right: 5px;
	text-align : right;
	font-size:8pt;
	width: 8%;
	float: right;
}


#army_selected img.specialist {
	width: 20px;
	height: 20px;
}

#army_selected img.specialist_attach {
	width: 20px;
	height: 20px;
}

#army_selected ul ul li img.shadow {
	float: right;
	opacity:.3;
}

#army_selected ul ul li img.full_visible {
	float: right;
	opacity:1;
	filter:"alpha(opacity=100)";
}

#army_selected ul li img.shadow {
	float: right;
	opacity:0.3;
	filter:"alpha(opacity=30)";
}

#army_selected ul li img.full_visible {
	float: right;
	opacity:1;
}

#army_selected img.invisible {
	visibility: hidden;
}

#army_selected img.visible {
	visibility: visible;
}

#army_selected img.freeModel {
	float: right;
	width: 20px;
	height: 20px;
}

#army_entries ul ul li {	
	border:1px solid black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 15px;
	margin-bottom: 5px;
	line-height: 18px;
	list-style-type: none;
	background-color: #EEE;
	background-repeat: no-repeat;
	box-shadow: rgba(0,0,0,0.4) 2px 2px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#army_entries ul ul li div.model_title  {
	text-transform : uppercase;
	float: left; 
	/* margin-left: 3px; */
	font-size:8pt;
	width: 60%;
}
#army_entries ul ul li div.fa {
	float: left;
	font-size:8pt;
	width: 15%;
	padding-left: 2px;
}

#army_entries ul ul li div.unitSize {
	padding-left: 15px;
	font-size:8pt;
	float: left;
}

#army_entries ul ul li div.cost {
	padding-left: 5px;
	font-size:8pt;
	width: 10%;
	float: left;
}
#army_entries ul ul li img.add_entry {
	width: 20px;
	height: 20px;
	float: right;
	padding-right: 5px;
}

#army_entries ul ul li img.freeModel {
	width: 20px;
	height: 20px;
	float: right;
	padding-right: 5px;
}

#army_entries ul ul li img.invisible {
	float: right;
	display: none;
}

#army_entries ul ul li img.visible {
	float: right;
	display: inline-block;
}


#army_entries ul ul li div button {
	float: right;
  width: 50px;
  padding-right : 5px;
}

#army_entries ul li {	
	border:2px solid red;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
	line-height: 25px;
	list-style-type: none;
	background-color: #EEE;
	background-repeat: no-repeat;
	box-shadow: rgba(0,0,0,0.4) 4px 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	vertical-align: middle;
}

#army_entries ul li img.faction_logo {
	float: left;
	width: 32px;
	height: 32px;
	vertical-align: center;
}

#army_entries ul {	
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

div#compendium {
    float: left;
    width: 50%;
}

div#army_groups {
    width: 95%;
    padding: 5px;
}

div#army_zone {	
	width: 100%;
	border:1px solid black;
	padding: 5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	 height:650px;
}


div#army_entries {
	float: left;
    width: 50%;
    overflow-y: scroll;
    height:500px;
    margin-bottom: 20px;
}
div#army_selected {
    float: right;
    width: 50%;
    overflow-y: scroll;
    height:500px;
}

div#objective_choice {
    float: right;
    width: 48%;
    height:30px;
   	border:1px solid black;
	padding: 5px;
	margin-top: 3px;
	margin-right: 5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
    margin-bottom: 20px;
}

div#army_points {
    float: right;
    width: 50%;
}

div#tiers {
    float: right;
    width: 50%;
}

#army_groups ul {
	margin: 0px;
	padding: 0px;
}

#army_groups ul li {
  border:2px solid red;
  
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 0px;
  margin-bottom: 5px;
  line-height: 15px;
  list-style-type: none;
  background-color: #EEE;
  background-repeat: no-repeat;

	box-shadow: rgba(0,0,0,0.4) 4px 4px;
  
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#army_entries .ui-selecting {
	background: #ccc;
}
#army_entries .ui-selected {
	background: #999;
}

img.halfTransparent {
	opacity:.3;
}

img.tierImg{
	width: 48px;
	height: 48px;
}

#dialog-export-army ul ul{
	border:0px ;
	padding: 0px;
}

#dialog-export-army ul {
	border:2px solid red;
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	margin-left: 0px;
	margin-bottom: 5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#dialog-export-army ul li {
	list-style-type: none;
	  padding-bottom: 5px;
	  padding-top: 5px;
	  padding-left: 5px;
	  margin-left: 0px;
	  margin-bottom: 5px;
	  line-height: 15px;
}


#dialog-export-army ul ul li {
	list-style-type: none;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
	margin-left: 0px;
	margin-bottom: 5px;
	line-height: 15px;
}

#dialog-export-army div.model_title  {
	float: left; 
	text-transform : uppercase;
	font-size:8pt;
	width: 60%;
}

#dialog-export-army div.cost {
	padding-right: 5px;
	text-align : right;
	font-size:8pt;
	width: 15%;
	float: right;
}

.drop_capacity {
  margin-top: 10px;
  padding: 40px;
  border: 3px dashed #CCC;
  color: #CCC;
  font-size: 20px;
  font-weight: bold; }
 
.drop-model {
  margin-top: 10px;
  padding: 40px;
  border: 3px dashed #CCC;
  color: #CCC;
  font-size: 20px;
  font-weight: bold; }

.capacities {
	width: 100%;
	height: 250px;
	overflow-y: auto;

}
.capacity {
	width: 100%;
	float: left;
	display: block;
	font-size: 12px;
  	font-weight: normal;
}

.capacity_even {background-color: #CCC}
.capacity_odd {background-color: #FFF}


.capa_copy {
	display:table-cell;
	vertical-align: top;
    width: 50px;
}

.capa_id {
	display:table-cell;
    width: 150px;
}

.capa_value {
	display:table-cell;
    width: 350px;
    white-space: pre-wrap;
    overflow-y : auto;
}

.spells {
	width: 100%;
	height: 250px;
	overflow-y: auto;

}
.spell {
	width: 100%;
	height: 80px;
	display: block;
	font-size: 12px;
  	font-weight: normal;
}

.spell_edit {
	white-space: pre-wrap;
}

.spell_headers {
	width: 100%;
	height: 20px;
	display: block;
	font-size: 12px;
  	font-weight: normal;
}

.spell_even {background-color: #CCC}
.spell_odd {background-color: #FFF}


.spell_id {
	float: left;
    width: 150px;
}
.spell_cost {
	float: right;
    width: 40px;
}
.spell_range {
	float: right;
    width: 40px;
}
.spell_aoe {
	float: right;
    width: 40px;
}
.spell_off {
	float: right;
    width: 40px;
}
.spell_up {
	float: right;
    width: 40px;
}


.spell_desc {
	float: right;
	height: 40px;
	width: 100%;
	overflow-y: auto;
}


////////////////////////// cards
.card_edit {
	height: 150px;
	width: 800px;
	border-style: solid;
	border-width: 1px;
}
.card_label {
	width: 800px;
	border-style: solid;
	border-width: 1px;
}
.card_title {
	text-transform: uppercase;
	background-color: beige;
	float: left;
	width: 100%;
	font-size: 14px;
}

.card_name {
	width: 150px;
	float: left;
}

.card_qualification {
	text-transform: uppercase;
	background-color: beige;
	width: 100%;
	font-size: 14px;
}
.card_fa {
	text-align: center;
	float: left;
	width: 100px;
}
.card_cost {
	float: right;
	width: 70%;
}

.model_stats{
	border-style: solid;
	border-width: 1px;
	width: 800px;
}

.weapons {
	width: 800px;
}
.weapon_stats {
	padding: 10px 15px;
	margin-left:auto;
	margin-right:0;
	border: solid 1px #20538D;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	width: 600px;
}

.weapon_title {
	background-color: beige;
}

.weapon_title {
	background-color: beige;
}

.model_title
{
	text-transform: uppercase;
	background-color: beige;
	float: left;
	width: 100%;
	font-size: 20px;
}
.model_basestats
{
	width: 100%;
	font-size: 20px;
}
.stat_title {
	width: 50px;
	display:inline-block;
	background-color: black;
	color: white;
}
.stat_value {
	display:inline-block;
	width: 50px;
}





.button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-link:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.faction_options {
	background-color: black;
	height: 75px;
	vertical-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
