table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

table.gridtable td.greyBg {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #cccccc;
}

table.gridtable td.whiteBg {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


#header {
    position: fixed;
    top: 0;
    z-index: 10000;
    height: 45px;
}

#content {
    position:absolute;
    top:50px;
    bottom:0;
    left:0;
    right:0; 
    overflow: auto;
}

#editor_panel {
  width: 80%;
  height: 200px;
  border: 5px solid red;
  background-color: #fff;
  position: fixed;
  top: 150px;
  z-index: 5000;
  left: 10%	;
}

