<div class="panel-info">
    <div class="panel-heading">Model headers </div>
    <div class="panel-body">
        <table class="table table-inverse">
            <tr><td minWidth="100px">Id </td><td>{{editedCard._id}}</td></tr>
            <tr><td minWidth="100px">Card version </td><td><input ng-model="editedCard.version" size="8" /></td></tr>
            <tr><td minWidth="100px">Inner type </td><td>{{editedCard.type}}</td></tr>
            <tr><td>Name </td><td><input ng-model="editedCard.name" size="30" /></td></tr>
            <tr><td>Full name </td><td><input ng-model="editedCard.full_name" size="40" /></td></tr>
            <tr><td>Qualification </td><td><input ng-model="editedCard.qualification" size="40"/></td></tr>
            <tr ng-if="editedCard.type!='unit'">
                <td ng-if="editedCard.type=='warcaster'">Warjack points </td>
                <td ng-if="editedCard.type=='warlock'">Warbeasts points </td>
                <td ng-if="editedCard.type!='warcaster' && editedCard.type!='warlock'">Cost </td>
                <td>
                    <input ng-if="editedCard.type=='warcaster'" ng-model="editedCard.wj_points" size="2" />
                    <input ng-if="editedCard.type=='warlock'" ng-model="editedCard.wb_points" size="2" />
                    <input ng-if="editedCard.type!='warcaster' && editedCard.type!='warlock'" ng-model="editedCard.cost" size="2" />
                </td>
            </tr>
            <tr ng-if="editedCard.type=='unit' && editedCard.maxSize=='-'">
                <td>Cost </td>
                <td> <input ng-model="editedCard.minCost" size="2" /> points for <input ng-model="editedCard.minSize" size="2" /> models</td>
            </tr>
            <tr ng-if="editedCard.type=='unit' && editedCard.maxSize!='-'">
                <td>Cost </td>
                <td> <input ng-model="editedCard.minCost" size="2" />/<input ng-model="editedCard.maxCost" size="2" /> points for <input ng-model="editedCard.minSize" size="2" /> / <input ng-model="editedCard.maxSize" size="2" /> models </td>
            </tr>
            <tr><td>Field Allowance </td><td><select ng-options="fa for fa in faDefinitions" ng-model="editedCard.fa"></td></tr>
        </table>

        <div class="card_status" ng-if="editedCard.type == 'solo'">
            <input type="checkbox" ng-model="editedCard.caster_attachment" />Caster attachment 
            <input type="checkbox" ng-model="editedCard.journeyman_warcaster" />Journeyman warcaster, 
            <input type="checkbox" ng-model="editedCard.lesser_warlock" />Lesser warlock, 
        </div>
    </div> <!-- panel-body -->
</div> <!-- card_label -->