<table class="gridtable">
    <thead>
    <tr>
    <th>SPD</th><th>STR</th><th>MAT</th><th>RAT</th><th>DEF</th><th>ARM</th><th>CMD</th><th>FOC</th><th>FUR</th><th>THR</th><th>HP</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input ng-model="model.basestats._spd" size="2"/></td>
        <td><input ng-model="model.basestats._str" size="2"/></td>
        <td><input ng-model="model.basestats._mat" size="2"/></td>
        <td><input ng-model="model.basestats._rat" size="2"/></td>
        <td><input ng-model="model.basestats._def" size="2"/></td>
        <td><input ng-model="model.basestats._arm" size="2"/></td>
        <td><input ng-model="model.basestats._cmd" size="2"/></td>
        <td><input ng-model="model.basestats._foc" size="2"/></td>
        <td><input ng-model="model.basestats._fur" size="2"/></td>
        <td><input ng-model="model.basestats._thr" size="2"/></td>
        <td><input ng-model="model.basestats._hitpoints" size="2"/></td>
    </tr>
    </tbody>
</table>

<div class="card_status" ng-if="editedCard.type == 'warjack'">
	<span class="stat_value">
	Damage grid : <input ng-model="model.basestats._damage_grid" size="40">
	</span>
</div>

<div class="card_status" ng-if="editedCard.type == 'colossal'">
    <span class="stat_value">
    Damage grid left: <input ng-model="model.basestats._damage_grid_left" size="40">
    Damage grid right: <input ng-model="model.basestats._damage_grid_right" size="40">
    </span>
</div>



<div class="icons">
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._advance_deployment" />Advance deploy, 
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._amphibious" />amphibious, 
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._arc_node" />arc node, 
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._assault"/>assault, 
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._cavalry"/>cavalry,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._cma"/>CMA,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._cra"/>CRA,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._construct"/>construct,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._eyelesssight"/>eyeless,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._flight"/>flight,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._gunfighter"/>gunfighter,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._incorporeal"/>incorporeal,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._immunity_corrosion"/>immune corr.
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._immunity_electricity"/>immune elect.
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._immunity_fire"/>immune fire,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._immunity_frost"/>immune frost,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._jack_marshal"/>jack marshal,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._officer"/>officer,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._parry"/>parry,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._pathfinder"/>pathfinder,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._soulless"/>soulless,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._standard_bearer"/>standard bearer,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._stealth"/>stealth,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._tough"/>tough,
    <input type="checkbox" ng-true-value="true" ng-model="model.basestats._undead"/>Undead
</div>   
